@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$player-background-color: #1e1e1e;
$player-button-color: #b3b3b3;
$player-control-button-color: #ddd;
$player-primary-button-color: $white;
$player-button-hover-color: $white;
$player-button-disabled-color: #535353;

.modalContent {
  background: $player-background-color;
  color: $player-button-color;

  a {
    position: relative;
    text-decoration: none;
    color: $player-button-color;
    fill: $player-button-color;

    &:link,
    &:visited {
      color: $player-button-color;
      fill: $player-button-color;
    }

    &:active,
    &:focus,
    &:hover {
      color: $player-button-hover-color;
      fill: $player-button-hover-color;
    }
  }

  button {
    color: $player-button-color;
    fill: $player-button-color;
    position: relative;
    width: 32px;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;

    &:focus,
    &:hover {
      color: $player-button-hover-color;
      fill: $player-button-hover-color;
    }

    &:active {
      color: $player-button-color;
      fill: $player-button-color;
    }

    &:focus:not(:focus-visible):not(:hover) {
      color: $player-button-color;
      fill: $player-button-color;
      border-color: $player-button-color;
    }

    &.controlButton {
      color: $player-control-button-color;
      fill: $player-control-button-color;
      width: 2rem;
      min-width: 2rem;
      height: 2rem;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    &.playPause {
      height: 2.5rem;
      width: 2.5rem;
      transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
      transition-property: all;
      color: $player-background-color;
      fill: $player-background-color;
      background: $player-primary-button-color;
      border: 1px solid $player-primary-button-color;
      border-radius: 32px;
      margin: 0 1rem;

      @media (min-device-pixel-ratio: 2) {
        transition-duration: 50ms;
      }

      svg {
        height: 1.3rem;
        width: 1.3rem;
      }

      &:focus,
      &:hover {
        transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
        transform: scale(1.06);
        border-color: $player-button-hover-color;

        @media (min-device-pixel-ratio: 2) {
          transition-duration: 66ms;
        }
      }

      &:active {
        transition: none;
        transform: scale(0.99);
        border-color: $player-button-color;
      }
    }

    &[disabled] {
      color: $player-button-disabled-color;
      fill: $player-button-disabled-color;
      border-color: $player-button-disabled-color;
    }
  }
}

.playerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.playerArt {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.nowPlaying {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}

.trackName {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  text-align: left;
  color: $white;

  a {
    &:link,
    &:visited {
      color: $player-button-hover-color;
      fill: $player-button-hover-color;
    }

    &:active,
    &:focus,
    &:hover {
      color: $player-button-hover-color;
      fill: $player-button-hover-color;
      text-decoration: underline;
    }
  }
}

.trackDetails {
  font-size: $font-size-base;
  text-align: left;
  min-width: 0;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.playerControls {
  margin-top: 1rem;
}

.playerControlsButtons {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.playbackTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $font-size-base * 0.85;
}
