@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$player-button-color: #b3b3b3;
$player-button-hover-color: $white;
$player-button-disabled-color: #535353;

.playerBar {
  height: 45px;
  width: 100%;
  z-index: $zindex-fixed;
  background: #1e1e1e;
  color: $player-button-color;
  display: flex;
  flex-direction: column;

  a {
    position: relative;
    text-decoration: none;
    color: $player-button-color;
    fill: $player-button-color;

    &:link,
    &:visited {
      color: $player-button-color;
      fill: $player-button-color;
    }

    &:active,
    &:focus,
    &:hover {
      color: $player-button-hover-color;
      fill: $player-button-hover-color;
    }
  }

  button {
    color: $player-button-color;
    fill: $player-button-color;
    position: relative;
    width: 32px;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;

    &:focus,
    &:hover {
      color: $player-button-hover-color;
      fill: $player-button-hover-color;
    }

    &:active {
      color: $player-button-color;
      fill: $player-button-color;
    }

    &:focus:not(:focus-visible):not(:hover) {
      color: $player-button-color;
      fill: $player-button-color;
      border-color: $player-button-color;
    }

    &.playPause {
      transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
      transition-property: all;
      border: 1px solid $player-button-color;
      border-radius: 32px;

      @media(min-device-pixel-ratio: 2) {
        transition-duration: 50ms;
      }

      &:focus,
      &:hover{
        transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
        transform: scale(1.06);
        border-color: $player-button-hover-color;

        @media(min-device-pixel-ratio: 2) {
          transition-duration: 66ms;
        }
      }

      &:active {
        transition: none;
        transform: scale(0.99);
        border-color: $player-button-color;
      }
    }

    &[disabled] {
      color: $player-button-disabled-color;
      fill: $player-button-disabled-color;
      border-color: $player-button-disabled-color;
    }
  }
}

.nowPlayingBar {
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 12px;
  user-select: none;
  min-width: 0;
}

.nowPlayingBarCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nowPlayingBarRight {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.progressBarMinimized {
  height: 0.1rem;
}

.playerControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

.playerControlsButtons {
  width: 160px; // 32 * 5 NOTE: When shuffle & repeat are added, make this 32 * 7
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.trackName {
  font-size: $font-size-base * .8;
  line-height: $line-height-lg;
  text-align: left;
  color: $white;
}

.albumName {
  font-size: $font-size-base * .7;
  line-height: $line-height-base;
}

.trackDetails {
  font-size: $font-size-base * .6;
  line-height: $line-height-sm;
  text-align: left;
}

.extraControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.volumeBar {
  align-items: center;
  display: flex;
  flex: 0 1 125px;
}
