@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.searchBar {
  display: flex;
  min-width: 25rem;

  @include media-breakpoint-down(lg) {
    min-width: auto;
  }
}

.searchContainer {
  margin-bottom: auto;
}

.searchItem {
  cursor: pointer;
}

.poweredByLink {
  &:visited,
  &:active,
  &:focus,
  &:hover {
    color: inherit !important;
  }
}

.algoliaLogo {
  height: 1.3rem;
}
